.input-fields {
    width: 90%;
}

.custom-input {
    color:red!important;
}
.number {
    text-align: left!important;
}

.string {
    text-align: left;
    color: red;
}

.percent {
    text-align: right;
}

.custom-row {
    padding:7px;
    border:1px solid #ddd;
}

.center {
    text-align: center;
}